.generatedPassword{
    border:1px solid;
    border-radius: 25px;
    padding:35px;
    position:relative;
    .indicator{
        position: absolute;
        top:-40px;
        background-color: white;
        padding:0 25px ;
        left:5%;
       .light{
        height: 30px;
        width: 30px;
        background-color: #0C7489;
        border-radius: 25px;
        margin-right:20px;
       }
       display: flex;
       align-items: center;
    }
}