.passwordContainer{
    background-color: #E7F5F7;
    height: 80px;
    border-radius: 40px;
    position: relative;
    p{
        font-size: 3.2rem;
        font-weight: bold;
        padding: 2rem 5rem;
    }
    .buttonsContainer{
        position: absolute;
        top:0;
        right: 0;
    }
}
